@font-face {  font-family: ManualeExtraBold;
              src: url('./../fonts/Manuale-ExtraBold.ttf'); }
@font-face {  font-family: ManualeSemiBold;
              src: url('./../fonts/Manuale-SemiBold.ttf'); }
@font-face {  font-family: Manuale;
              src: url('./../fonts/Manuale-Regular.ttf'); }
#root{
  --background: #bf9460cd;
  --background-without-opacity: #BF9460;
  --main-blue: #2E3873;
  --main-blue-with-opacity: #2e38734a;
  --second-blue: #5666BF;  
  --main-teal: #457369;
  --main-teal-with-opacity: #69bc85;
  --highlight: #69BFAD;
  --grey: rgba(128, 128, 128, 0.525);
  --main-blue-gradient: linear-gradient(to bottom left, #2e3873a3, 
                                        var(--main-blue));
  --second-blue-gradient: linear-gradient(to bottom right, #5666bf9c, 
                                              var(--second-blue));

  --mobile-dimension: 12rem;
  --border-radius: 8px;
  --line-height-xl: 1rem;
  --transform: rotate(-30deg) skew(20deg) scale(0.7);
  --transform2: rotate(20deg) skew(-15deg) scale(0.7);

  --fs-xl: clamp(2rem, 4vw, 2.5rem);
  --fs-400: clamp(1.25rem, 2.5vw, 1.5rem);

  height: 100svh;
  padding: 3rem;
  font-family: ManualeSemiBold;
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (min-width: 700px) {
  #root{
    --mobile-dimension: 13.5rem;
  }
}

@media screen and (min-width: 850px) {
  #root{
    flex-direction: row;
    align-items: center;
  }
}

