@font-face {  font-family: ManualeExtraBold;
              src: url('./../fonts/Manuale-ExtraBold.ttf'); }
@font-face {  font-family: ManualeSemiBold;
              src: url('./../fonts/Manuale-SemiBold.ttf'); }
@font-face {  font-family: Manuale;
              src: url('./../fonts/Manuale-Regular.ttf'); }
#root{
  --secondary-blue: #345B73;
  --secondary-blue-with-opacity: #345b73c1;
  --secondary-purple: #544259;
  --secondary-purple-with-opacity: #8c72945b;
  --secondary-green: #BFBE4C;
  --secondary-green-with-opacity: #bfbd4ca7;
  --highlight: #BFBE4C;
  --white-with-opacity: rgba(255, 255, 255, 0.285);

  --mobile-dimension: 12rem;
  --rotate: rotate(15deg);
  --border-radius: 8px;
  --line-height-xl: 1rem;
  --fs-xl: clamp(2rem, 4vw, 3rem);
  --fs-400: clamp(1.25rem, 2.5vw, 1.5rem);

  height: 100svh;
  padding: 1rem;
  font-family: ManualeSemiBold;
  background-image: url('./../background.svg');
  background-color: #A6986F;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

