.wrapper{
  --mobile-button-dimension: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toggle-button1{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: white;
  color: var(--secondary-blue); 
  line-height: 1;
  width: var(--mobile-button-dimension);
  height: var(--mobile-button-dimension);
  padding: var(--mobile-button-dimension);
}

#reset{ color: white;}
#pause{ font-size: 0.5em;}
#play{
  font-size: 1em;
  padding: 16px 15px 16px 17px;
}

.toggle-button:active, 
#reset:active{
  opacity: 0.5;
}






