.wrapper{
  --mobile-button-dimension: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.toggle-button1{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--main-blue);
  /* color: var(--secondary-;  */
  color: var(--background);
  line-height: 1;
  width: var(--mobile-button-dimension);
  height: var(--mobile-button-dimension);
  padding: var(--mobile-button-dimension);
}

.toggle-button:active, 
#reset:active{
  opacity: 0.5;
}

#reset{ color: var(--main-blue);}
#pause{ font-size: 0.5em;}
#play{
  font-size: 1em;
  position: relative;
}

@media screen and (max-height: 550px) {
  #play > span{
    position: absolute;
    right: 15%;
    bottom: 10%;
  }
}

@media screen and (min-width: 850px) {
  #play > span{
    position: absolute;    
    left: 2.5%;
    bottom: -7%;
  }
}








