.component-wrapper{
  width: var(--mobile-dimension);
  height: calc(var(--mobile-dimension) * 0.75);  
  background-color: var(--grey);
  
  transform: rotate(-30deg) skew(20deg) scale(0.7);
  transition: var(--hover-transition);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  text-align: center;
  width: 100%;
  height: 100%; 
  
  font-family: ManualeExtraBold;
  font-size: var(--fs-xl); 
  background-color: var(--background);
  border: 5px solid var(--main-blue);
  border-style: double;

  transform: translate(10%, -10%);
  transition: var(--hover-transition);
}

.component-wrapper:has(.container:hover){
  background-color: var(--light-grey);
}

.container:hover{
  transform: translate(25px, -25px);
  ;
}
