/* Chrome */
#player,
#player::-webkit-media-controls-panel {
  background-color: var(--background-without-opacity);
  border: 5px solid var(--main-blue);
  border-style: double;
}

#player::-webkit-media-controls-current-time-display{
  font-family: ManualeExtraBold;
  font-size: 1.25em;
} 

/* Firefox */
@-moz-document url-prefix() {
  #player{
    filter: invert(0.9);
    background: var(--main-light-blue);
    font-family: ManualeExtraBold;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 500px) {
  .component-wrapper{
    width: calc(var(--mobile-dimension) * 1.5);
    height: calc(var(--mobile-dimension) * 0.25);
    background-color: var(--grey);
    margin-bottom: 3em;
    
    transform: rotate(-30deg) skew(20deg) scale(0.7);
  }
}

