#player{
  --background-gradient: linear-gradient(145deg, #dfdd70, 
                                         var(--secondary-green));
  background: var(--background-gradient);
  border-radius: var(--border-radius);
  box-shadow:  5px 5px 0px #848334;
}

/* Chrome */
#player::-webkit-media-controls-panel {
  background: var(--background-gradient);
}

#player::-webkit-media-controls-current-time-display{
  font-family: ManualeExtraBold;
  font-size: 1.25em;
} 

/* Firefox */
@-moz-document url-prefix() {
  #player{
    filter: invert(0.9);
    background: var(--secondary-blue);
    box-shadow:  5px 5px 0px #afa4bc;
    font-family: ManualeExtraBold;
    font-size: 1.25em;
  }
}
