@font-face {  font-family: ManualeExtraBold;
              src: url('./../assets/fonts/Manuale-ExtraBold.ttf'); }
@font-face {  font-family: ManualeSemiBold;
              src: url('./../assets/fonts/Manuale-SemiBold.ttf'); }
@font-face {  font-family: Manuale;
              src: url('./../assets/fonts/Manuale-Regular.ttf'); }
#root{
  --background: #8C7C6D;
  --primary: #F2E4BB;
  --primary-with-opacity: #f2e4bb7a;
  --secondary-blue: #345B73;
  --secondary-blue-with-opacity: #345b73de;
  --secondary-purple: #544259;
  --secondary-pink: #D9B2A9;
  --background2: #A6986F;
  --secondary-pink2: #EBA2F2;
  --secondary-purple2: #A177A6;
  --secondary-blue2: #D3F2EA;
  --highlight: #BFBE4C;

  --rotate: rotate(15deg);
  --line-height-xl: 1rem;
  --fs-xl: clamp(2rem, 4vw, 3rem);
  --fs-400: clamp(1rem, 2.5vw, 1.5rem);
}

body{
  overflow: hidden;
  font-family: Manuale;
  background-image: url('./../assets/background.svg');
}