.container{
  display: flex;
  justify-content: space-between;
  padding: 0em 0.5em 0.25em 0.5em;
  background-color: #2e38731a;
}

.input::placeholder{
  color: var(--main-blue);
  font-family: ManualeExtraBold;
  letter-spacing: 2px;
}

#add{
  padding-bottom: -0.5em;
}