.container{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0em 2em 0.25em 0.5em;
  background-color: #2e38731a;
}

.input::placeholder{
  color: var(--main-blue);
  font-family: ManualeExtraBold;
  letter-spacing: 2px;
}

input{
  width: 90%;
}

#add{
  position: absolute;
  left: 90%;
  padding-bottom: -0.5em;
}
