.component-wrapper{
  width: calc(var(--mobile-dimension) * 1.5);
  height: calc(var(--mobile-dimension) * 1.5);
  background-color: rgba(128, 128, 128, 0.525);
  
  transform: rotate(20deg) skew(-15deg) scale(0.7);
  transition: var(--hover-transition);
}

.container{
  display: flex;
  flex-direction: column;
 
  padding: 1em;
  width: 100%;
  height: 100%;
  
  font-size: var(--fs-400);
  color: var(--main-blue);
  background-color: var(--background);
  border: 5px solid var(--main-blue);
  border-style: double;
  
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  transform: translate(-10%, -10%);
  transition: var(--hover-transition);
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#empty{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.line{
  display: inline-block;
  text-align: center;
}

.line:before {
  display: inline-block;
  content: '';
  width: 90%;
  height: 2px;
  background-color: var(--main-blue-with-opacity);
}

.component-wrapper:has(.container:hover){
  background-color: var(--light-grey);
}

.container:hover{
  transform: translate(-40px, -40px);
}



